<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>MVC Tech Blog</title>
</head>

<body>
  <div class="d-flex flex-row h-75">
      <header class="menu flex-column">
        <h1 id="heading">
        <a href="/">MVC Tech Blog</a>
        </h1>
         <div class="navbar col-12 d-flex flex-row border-bottom border-dark">
        <ul class="list-unstyled d-flex flex-row text-light">
            <li class="col-12">
                Welcome to Mason's Tech Blog!
            </li>
        </ul>
        </div>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class=" btn-no-style">logout</button>
        {{else}}
        <a href="/login">
        <button id="loginBtn" class="btn-light btn-outline-dark">Login</button>
        <button id="signupBtn" class="btn-light btn-outline-dark">Sign Up</button>
        </a>
        {{/if}}

      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="text-light">
      Thanks for visiting!
    </footer>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>